.ion-page {
    background-color: #cdcdcd;
    font-size: 16px;
    display: block !important;
}
.title-default{
    color: blue !important;
}
.blue-txt {
    color: blue;
}
.btn-color{
    --background: blue;
}
.green-txt {
    color: green;
}
.black-txt {
    color: black;
}
.dog-img {
    max-width: 300px;
    max-height: 300px;
}